.container {
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filters input[type="text"],
.filters select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.jobListings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.loading {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}
.job_container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  /* border: 1px solid gray; */
  border-radius: 24px;
}
.btn {
  cursor: pointer;
  border: none;
  background-color: aquamarine;
}
.job_title {
  color: rgba(62, 61, 61, 0.689);
  margin-left: 4px;
  font-weight: 600;
  margin-bottom: 5px;
}
.job_role {
  margin-left: 4px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: large;
  margin-bottom: 5px;
}
.job_location {
  margin-left: 4px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: small;
  margin-bottom: 5px;
}
.check_button {
  background-color: green;
  color: white;
  transform: scale(0.7);
  margin-left: 4px;
}
.about {
  margin: 5px;
  font-size: large;
  font-weight: 700;
}
.button_job {
  background-color: aquamarine;
  width: 100%;
  display: flex;
  padding: 12px 0;
  border-radius: 15px;
  justify-content: center;
  margin-top: 5px;
}
.boltIcon {
  color: rgb(244, 244, 37);
}
